header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  color: black;
  background-color: #E5E5E5;
  height: 100%;
}

/* Page */
a {
  font-weight: bold;
}

p {
  padding: 5px;
  line-height: 130%;
  font-size: 90%;
}

* {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 150%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -205px;
}

.container {
  width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.page {
  float: left;
  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 50px;
  width: 440px;
}

.page h1 {
  color: #ED7101;
  margin-left: 0px;
  margin-bottom: 15px;
}

.page p {
  margin-left: 5px;
}

/* Header */
header {
  color: white;
  width: 100%;
  background-color: #002855;
	height: 140px;
}

#logo {
	margin: 0 auto;
	padding: 8px 0px 8px 10px;
	float: left;
}

#logo img {
  display: inline-block;
  vertical-align: text-top;
  float: right;
}

header p img:hover {
  opacity: 0.8;
}

header p {
  font-size: 75%;
  color: white;
  margin: 0px;
  padding-top: 3px;
  padding-right: 15px;
}

#motto {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  font-family: cursive;
}

#fbimage {
  float: right;
  display: inline-block;
  margin-top: -10px;
}

#connected {
  float: right;
  margin-right: 5px;
  margin-top: 70px;
  padding-bottom: 0px;
  clear: right;
}

/* Navigation */
nav {
  margin-top: 12px;
  clear: left;
  border-top: 2px solid #333333;
}

nav ul {
  width: 100%;
  background: #025C8F;
  color: white;
  overflow: hidden;
  text-align: center;
  height: 30px;
  padding-top: 15px;
}

nav ul li {
  list-style-type: none;
  display: inline;
  height: 30px;
  padding-bottom: 40px;
  padding-top: 40px;
}

nav ul a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

nav ul li:hover {
  background: #002855;
}

nav .container {
  width: 100%;
}

/* Index */
#main {
  width: 640px;
  margin-bottom: 20px;
  margin-left: 165px;
}

#landscape {
  clear: both;
  margin-top: 60px;
}

/* Footer */
footer {
	font-size: 90%;
	text-align: center;
  background-color: #002855;
  width: 100%;
  clear: both;
  color: #FFFFFF;
  margin-top: 10px;
}

footer p {
  padding: 8px;
}

footer a:link {
  color: white;
  border-bottom: none;
  font-weight: bold;
}

footer a:visited {
  color: white;
}

.footerImg {
  display: inline-block;
  padding-top: 5px;
}

footer img:hover {
  opacity: 0.8;
}

footer, .push {
	height: 205px;
}

#copyright {
  font-size: 75%;
  background-color: #333333;
}

/* Policy */
#policy {
  margin-top: 50px;
  margin-bottom: 15px;
  line-height: 110%;
  margin-left: 50px;
  width: 880px;
}

#policy h3 {
  clear: both;
  font-size: 110%;
  font-weight: bold;
  padding: 20px 0px 10px 0px;;
}

#policy p {
  font-size: 80%;
  padding-top: 0px;
  margin-top: 0px;
  line-height: 110%;
}

#policy ul {
  margin-left: 10px;
}

#policy li {
  list-style-position: outside;
  font-size: 80%;
  margin-left: 10px;
}

/* Notice */
#notice {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 50px;
  line-height: 110%;
  width: 880px;
}

#notice h3 {
  clear: both;
  font-size: 110%;
  font-weight: bold;
  padding: 20px 0px 10px 0px;;
}

#notice p {
  font-size: 75%;
  padding-top: 0px;
  margin-top: 2px;
  line-height: 110%;
}

#notice ul {
  margin-left: 10px;
}

#notice li {
  list-style-position: outside;
  font-size: 80%;
  margin-left: 10px;
}

/* Site Map */
#siteMap h1 {
  margin-left: 45px;
}

#siteMap ul {
    margin-left: 90px;
    color: black;
}

#siteMap li {
  list-style-position: outside;;
  text-align: left;
  list-style-type: circle;
  color: #ED7101;
  padding: 8px;
}

#siteMap a {
  text-decoration: none;
  color: black;
}

#siteMap ul li a:hover {
  color: #ED7101;
  text-decoration: underline;
}

#servicesSite {
  margin: -10px;
  padding: 0px;
  font-size: 85%;
  margin-bottom: 1px;
  margin-top: 2px; 
}

#servicesSite li{
  margin: 2px;
  padding: 0px;
  margin-left: -70px;
}

#servicesSite li a{
  margin: 0px;
  padding: 0px;
}

/* Testimonials */
aside {
  float: right;
  margin-top: 80px;
  margin-right: 25px;
  width: 380px;
}

aside figure.image{
  float: right;
  margin-right: 25px;
  margin-top: 40px;
}

figure.image{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

figcaption {
  font-size: 80%;
}

blockquote {
  font-size: 80%;
  font-style: italic;
  margin-left: 15px;
}

aside blockquote {
  margin-top: 350px;
}

.referral {
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.name {
  color: green;
  }

/* Philosophy */
aside ul {
    margin-top: 40px;
}

aside li {
  list-style-position: outside;;
  text-align: left;
  list-style-type: circle;
  color: #ED7101;
  padding: 2px;
  margin-left: 20px;
}

/* Services */
#services {
  width: 200px;
}

#servicesList {
  border: 2px dotted #434343;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-right: 2px;
}

#services ul {
}

#services ul li {
  list-style-type: none;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

#services a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

#landscaping a {
  padding: 9px;
  padding-left: 39px;
  padding-right: 38px;
}

#landscaping:hover {
  background: #3E7B30;
  color: white;
}

.lSelected {
  background: #3E7B30;
}

#hardscape:hover {
  background: #582601;
  color: white;
}

#hardscape a {
  padding: 9px;
  padding-left: 39px;
  padding-right: 38px;
}

.hSelected {
  background: #582601;
}

#outdoor:hover {
  background: #86867D;
  color: white;
}

#outdoor a {
  padding: 9px;
  padding-left: 79px;
  padding-right: 80px;
}

.oSelected {
  background: #86867D;
}

#water:hover {
  background: #025C8F;
  color: white;
}

#water a {
  padding: 9px;
  padding-left: 28px;
  padding-right: 27px;
}

.wSelected {
  background: #025C8F;
}

#patio:hover {
  background: #DE7121;
  color: white;
}

#patio a {
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
}

.pSelected {
  background: #DE7121;
}

#softscape:hover {
  background: #C3C631;
  color: white;
}

#softscape a {
  padding: 9px;
  padding-left: 39px;
  padding-right: 39px;
}

.sSelected {
  background: #C3C631;
}

#commercial:hover {
  background: #002855;
  color: white;
}

#commercial a {
  padding: 9px;
  padding-left: 42px;
  padding-right: 42px;
}

.cSelected {
  background: #002855;
}

#services ul li a:hover {
  color: white;
  text-decoration: none;
}

#white {
  color: white;
}

#orange {
  color: #ED7101;
}

#gray {
  color: #434343;
}

#servicesAside h4 {
  margin-bottom: 20px;
}

#servicesAside {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 630px;
}

#servicesAside img {
  padding: 0px;
}

#estimate {
  margin: 0px;
  padding: 0px;
}

#estimate a {
  color: #ED7101;
  text-decoration: underline;
}

.entry {
  width: 290px;
  float: left;
  height: 155px;
  margin-left: 0px;
  margin-right: 22px;
  margin-bottom: 50px;
}

.example {
  float: left;
  width: 297px;
  height: 155px;
  padding: 5px;
}

.example img {
  width: 300px;
  height: 190px;
  border: 1px solid black;
  margin: 0px;
}

/* Media Queries */
@media screen and (max-width:950px) {
  nav {
    width: 960px;
  }

  header {
    width: 960px;
  }

  footer {
    width: 960px;
  }
}
